{% load static %}

<link rel="stylesheet" href="{% static 'polls/style.css' %}">

<div class="detail-container">
    <h1>{{ question.question_text }}</h1>
    {% if error_message %} <p class="error-message"><strong>{{ error_message }}</strong></p>{% endif %}
    <form action="{% url 'polls:vote' question.id %}" method="post" class="center-form">
        {% csrf_token %}
        <fieldset>
            {% for choice in question.choice_set.all %}
                <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}"
                {% if choice.id == previous_choice.id %}
                  checked
                {% endif %}>
                <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
            {% endfor %}
        </fieldset>
        <div class="vote-button">
            <input type="submit" value="Vote">
        </div>
    </form>
    <!-- Add a link to view results without voting -->
    <p><a href="{% url 'polls:results' question.id %}">View Results</a></p>
    <!-- Add a link to go back to the list of polls -->
    <p><a href="{% url 'polls:index' %}">Back to List of Polls</a></p>
</div>
