{% load static %}

<link rel="stylesheet" href="{% static 'polls/style.css' %}">

{% include 'polls/base.html' %}

{% if user.is_authenticated %}
   <p class="welcome-message">Welcome back, {{ user.username }}</p>
{% endif %}


<div class="center-container">
    <h1 class="flashing-title">Welcome to KU Polls</h1>
    {% if latest_question_list %}
        <ul>
            {% for question in latest_question_list %}
                <div class="question-container">
                    <h2><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></h2>
                    <p>
                        <a href="{% url 'polls:results' question.id %}">Results</a>
                    </p>
                </div>
                <hr>
            {% endfor %}
        </ul>
    {% else %}
        <p>No polls are available.</p>
    {% endif %}
</div>