{% load static %}

<link rel="stylesheet" href="{% static 'polls/style.css' %}">

<div class="center-container">
    <h1 class="flashing-title">Welcome to KU Polls</h1>
    {% for question in latest_question_list %}
        <div class="question-container">
            <h2><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></h2>
            <p>
                <a href="{% url 'polls:results' question.id %}">Results</a>
            </p>
        </div>
    {% endfor %}
</div>
